<div class="registration_form">
  <form>
    <input type="text" class="field_input w193 lfloat" placeholder="First Name">
    <input type="text" class="field_input w193 rfloat" placeholder="Last Name">
    <div class="clearfix"></div>
    <input type="text" class="field_input wblock" placeholder="Mobile number or email">
    <input type="password" class="field_input wblock" placeholder="New Password">
    
    <div class="bday_label">
      Birthday
    </div>
    <div class="date_wrapper">
      <select name="" id="" class="rselect_field">
          <option value="">Jan</option>
          <option value="">Jan</option>
          <option value="">Jan</option>
          <option value="">Jan</option>
        </select>
        <select name="" id="" class="rselect_field">
          <option value="">Jan</option>
          <option value="">Jan</option>
          <option value="">Jan</option>
          <option value="">Jan</option>
        </select>
        <select name="" id="" class="rselect_field">
          <option value="">Jan</option>
          <option value="">Jan</option>
          <option value="">Jan</option>
          <option value="">Jan</option>
        </select>
    </div> 
    
    <input type="radio"><label for="Female"> Female</label>
    <input type="radio"><label for="Male"> Male</label>
    <p class="reg_agreement">
        By clicking Create Account, you agree to our Terms and that you have read our Data Policy, including our Cookie Use. You may receive SMS Notifications from Facebook and can opt out at any time.
    </p>
    <button class="register_button">Create Account</button>
    
  </form>

</div>