<div class="login_wrapper">
  <form>
    <div class="login_btn_container rfloat">
        <div class="form-group">
          <button>Log In</button>
        </div>
    </div>
    <div class="email_container rfloat">
        <div class="form-group">
          <label for="Email or Phone">Password</label>
          <input type="text">
        </div>
    </div>
    <div class="email_container rfloat  ">
        <div class="form-group">
          <label for="Email or Phone">Email or Phone</label>
          <input type="text">
        </div>
    </div>
  </form>
</div>