<div class="login_wrapper">
  <form (submit)="login()">
    <div class="login_btn_container rfloat">
        <div class="form-group">
          <button>Log In</button>
        </div>
    </div>
    <div class="email_container rfloat">
        <div class="form-group">
          <label for="Email or Phone">Password</label>
          <input type="text" [(ngModel)]="user.password" name="password" />
        </div>
    </div>
    <div class="email_container rfloat  ">
        <div class="form-group">
          <label for="Email or Phone">Email or Phone</label>
          <input type="text" [(ngModel)]="user.email_phone" name="email_phone" />
        </div>
    </div>
  </form>
</div>