<div class="body">
  <div class="container">
    <div class="left_section lfloat">
      <h2>Connect with friends and the <br>
          world around you on Facebook.</h2>
      <div class="description_wrapper">
        <div class="img_wrapper lfloat">
          <img src="./assets/images/see_photo.png" alt="">
        </div>
        <div class="description_content lfloat">
            <span class="description_label">See photos and updates</span>
            <span class="description_sub_label">from friends in News Feed.</span>
        </div>
      </div>

      <div class="description_wrapper">
          <div class="img_wrapper lfloat">
            <img src="./assets/images/see_image.png" alt="">
          </div>
          <div class="description_content lfloat">
              <span class="description_label">Share what's new</span>
              <span class="description_sub_label">in your life on your Timeline.</span>
          </div>
        </div>

        <div class="description_wrapper">
            <div class="img_wrapper lfloat">
              <img src="./assets/images/link.png" alt="">
            </div>
            <div class="description_content lfloat">
                <span class="description_label">Find more</span>
                <span class="description_sub_label">of what you're looking for with Facebook Search.</span>
            </div>
          </div>
    </div>
    <div class="right_section rfloat">
      <h2>Sign Up</h2>
      <div class="sub_label">It’s free and always will be.</div>
       <app-registration></app-registration>
    </div>
    <div class="clearfix"></div>
  </div>
</div>