<div class="body">
    <div class="container">
        <div class="cover_wrapper">
            <img src="./assets/images/cover.jpg" alt="cover">
            <div class="profile_pic_wrapper">
                <img src="./assets/images/profile.jpg" alt="">
            </div>
            <div class="c_footer">
                
            </div>
        </div>
        <div class="navigation_wrapper">

        </div>

        <div class="content_wrapper">
            <div class="left_content lfloat">

            </div>
            <div class="right_content rfloat">
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>