<div class="body">
    <div class="container">
        <div class="cover_wrapper">
            <img src="./assets/images/cover.jpg" alt="cover">
            <div class="profile_pic_wrapper">
                <img src="./assets/images/profile.jpg" alt="">
            </div>
            <div class="c_footer">
                <div class="cf_content rfloat">
                    <h1>Ramel Pakig Cabug-os</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="navigation_wrapper">

        </div>

        <div class="content_wrapper">
            <div class="left_content lfloat">
                <div class="panel">
                    <p>test content</p>
                    <p>test content</p>
                    <p>test content</p>
                    <p>test content</p>
                    <p>test content</p>
                    <p>test content</p>
                    <p>test content</p>
                    <p>test content</p>
                    <p>test content</p>
                </div>
                <div class="panel">
                    content
                </div>
            </div>
            <div class="right_content rfloat">
                <div class="panel">
                   <member-app-post></member-app-post>
                </div>
                <div class="panel">
                    
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>