.body{
    margin: 43px 0 0 0;
    background: #e9ebee;
    min-height: 600px;
    overflow: auto;
    .container{
        width: 980px;
        height: 700px;
        background: #fff;
        margin: auto;
    }
}