<div class="panel" *ngFor="let post of posts">
  <div class="header">
      <div class="profile_icon_wrapper lfloat">
        <img src="./assets/images/profile-small.jpg" alt="">
      </div>
      <div class="user_information rfloat">
        <a class="user_fullname">Ramel Pakig Cabug-os</a>
        <span class="time_stamp">October 24 at 10:00 pm</span>
        <p></p>
      </div>
  </div>
  <div class="body">
        <div class="post_section" [innerHTML]="post.content">
            
        </div>
        <div class="reaction_container">
            <div class="like_section_wrapper lfloat">
                <i class="fb-icon fb-like lfloat"></i> <a class="like_anchor lfloat">Like</a>
                <div class="clearfix"></div>
            </div>
            <div class="like_section_wrapper lfloat">
                <i class="fb-icon fb-comment lfloat"></i> <a class="like_anchor lfloat">Comment</a>
                <div class="clearfix"></div>
            </div>
            <div class="like_section_wrapper lfloat">
                <i class="fb-icon fb-share lfloat"></i> <a class="like_anchor lfloat">Share</a>
                <div class="clearfix"></div>
            </div>
        </div>
        
    </div>
    <app-post-comment></app-post-comment>
</div>