<div class="post_create_wrapper">
  <div class="header">

  </div>
  <div class="body">
    <div class="profile_icon_wrapper lfloat">
      <img src="./assets/images/profile-small.jpg" alt="">
    </div>
    <div class="comment_section rfloat">
      <textarea ngModel #postMessage cols="30" rows="{{rowSize}}" (keyup.enter)="expandSize()">What's on your mind?</textarea>
    </div>
    
    <div class="clearfix"></div>
  </div>
  <div class="footer text-right">
    <button (click)="createPost(postMessage.value)">Post</button>
  </div>
</div>